#countLabel{
    display: block;
    text-align: center;
    font-size: 50px;
}

#doubleDownButton{
    font-size: 20px;
}
#downButton{
    font-size: 20px;
}
#resetButton{
    font-size: 20px;
}
#upButton{
    font-size: 20px;
}
#doubleUpButton{
    font-size: 20px;
}

#inspectButton{
    font-size: 20px;
}
#inspectLabel{
    font-size: 20px;
}